h1 {
  color: #660033;
  text-align: center;
  
}
h2 {
  margin: 10px;
  text-align: center;
}
body {
  font-family: helvetica;
  font-size: 1.3em;
  max-width: 1000px;
  margin: 0 auto;
  
}
p {
  margin: 20px
}
.section {
  background-color: #FFCC99;
  margin: 20px;
  padding: 4px;
  border-radius: 10px
  
}

.concept-title {
  background-color: #6699FF;
  margin: -4px;
color: #660033;
  
}




